<!--The content below is only a placeholder and can be replaced.-->
<div>
  <h1>
    Version check DEMO application
  </h1>
  <p>Version checking is based on Henrik Peinar's article <a href="https://blog.nodeswat.com/automagic-reload-for-clients-after-deploy-with-angular-4-8440c9fdd96c">Automagic
      reload for clients after deploy with Angular 4</a>.</p>

  <h2>Instructions</h2>
  See project <a href="https://bitbucket.org/skubal_dudr_cz/version-check-ng6-lib/src/master/README.md">README</a>.
</div>
